
<div id="results"  th:fragment="body">

    <!-- Custom styling plus plugins -->

  

    <script th:src="@{/js/jquery.min.js}"></script>

    <script type="text/javascript">
        function deleteOwnershipStatus(id ,r) {
            if(confirm('Want to delete?')) {
                $.ajax({
                    type: "GET",
                    url: "/ownershipStatus/delete/" + id
                });
                var i = r.parentNode.parentNode.rowIndex;
                document.getElementById("datatable-responsive").deleteRow(i);
            }
        }
    </script>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ownership Status List
                    
                </h2>
               
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a href="/ownershipStatus/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>
                    Add OwnershipStatus
                </a>
                <table th:if="${ownershipStatusEntity!=null}" id="datatable-responsive" name="datatable-responsive"
                       class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Ownership Status Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a : ${ownershipStatusEntity}">
                        <td th:text="${a.name}"></td>
                        <td th:text="${a.description}"></td>
                        <td>
                            <a class="btn btn" th:href="@{|/ownershipStatus/update/${a.ownershipStatusId}|}">
                            <i class="fa fa-edit"></i>
                            Edit
                            </a>&nbsp;
                            <a class="btn btn" th:onclick="'deleteOwnershipStatus(\'' + ${a.ownershipStatusId} + '\',this);'">
                           <i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <!-- /page content -->

    <!-- Datatables-->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <!--<script th:src="@{/js/dataTables.scroller.min.js}"></script>-->

    <script type="text/javascript">
        $('#datatable-responsive').DataTable();
    </script>
</div>

